<!--사이드바-->
	<div class="masthead pdng-stn1">
		<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
					<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
					<p class="nav-nickname"><%=current_user.name%></p>
					<button class="nav-proedit-btn" onclick="DoNav('/users/sign_out')">로그아웃</button>

					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
						<p class="side-nemo-label">여행일지</p>
					</div>	
					
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
						<p class="side-nemo-label">체크리스트</p>
					</div>
					
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
						<p class="side-nemo-label">Q&A</p>
					</div>
					
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
						<p class="side-nemo-label">설정</p>
					</div>
				</div>
			</div>
		</div>
	</div>





